name: Wheels

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
     - master
  release:
    types:
      - published

jobs:
  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Build SDist
      run: pipx run build --sdist

    - name: Check metadata
      run: pipx run twine check dist/*

    - uses: actions/upload-artifact@v4
      with:
        name: cibw-sdist
        path: dist/*.tar.gz


  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    
    - name: Set up leapmotion SDK (on Windows)
      if: matrix.os == 'windows-latest'
      run: |
        curl -L -o tracking-software-windows-5.20.0.exe https://s3.eu-west-1.amazonaws.com/downloads.ultraleap.com/software/tracking-software/5.20.0/tracking-software-windows-5.20.0.exe
        $proc = Start-Process -FilePath tracking-software-windows-5.20.0.exe -ArgumentList '/VERYSILENT', '/NOCANCEL', '/NORESTART', '/SUPPRESSMSGBOXES' -Verb RunAs -PassThru
        $proc.WaitForExit()
        if ($proc.ExitCode -ne 0) {
          Write-Host "Installation failed with exit code $($proc.ExitCode)"
          exit 1
        }
        Remove-Item tracking-software-windows-5.20.0.exe -Force
    - name: Set up leapmotion SDK (on macOS)
      if: matrix.os == 'macos-13'
      run: |
        wget -q https://s3.eu-west-1.amazonaws.com/downloads.ultraleap.com/software/tracking-software/5.20.0/tracking-software-macos-intel-5.20.0.pkg
        sudo installer -pkg tracking-software-macos-intel-5.20.0.pkg -target /
        rm tracking-software-macos-intel-5.20.0.pkg
    
    - name: Set up leapmotion SDK (on Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        wget -qO - https://repo.ultraleap.com/keys/apt/gpg | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/ultraleap.gpg
        echo 'deb [arch=amd64] https://repo.ultraleap.com/apt stable main' | sudo tee /etc/apt/sources.list.d/ultraleap.list
        sudo apt update
        sudo apt install -y ultraleap-hand-tracking
        leapctl eula -y

    

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: "pip"
        cache-dependency-path: requirements.txt
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    
    - name: build wheels
      run: python -m build   

    - name: Verify clean directory
      run: git diff --exit-code
      shell: bash

    - name: Upload wheels
      uses: actions/upload-artifact@v4
      with:
        name: cibw-wheels-${{ matrix.os }}
        path: dist/*.whl


  upload_all:
    name: Upload if release
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'

    steps:
    - uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - uses: actions/download-artifact@v4
      with:
        path: dist
        merge-multiple: true
    - name: ls dist
      run: ls -l dist

    # release to Github Release
    - name: Upload to GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.event.release.tag_name }}
        files: dist/*
        name: ${{ github.event.release.name }}
        body: ${{ github.event.release.body }}